body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.layout {
  display: flex;
  height: calc(100vh - 64px); /* под шапку */
}

.left-block {
  width: 50%; /* левая четверть */
  padding: 16px;
  background-color: white;
  box-sizing: border-box;
  
}

.right-block {
  flex: 1; /* правая половина */
  background-color: white; /* белый фон для XMLStructure */
  border-left: 2px solid #c0c0c0; /* серая шторка */
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.upload-block {
  padding: 16px;
  background-color: #eeeeee; /* чуть светлее серого, чтобы выделить */
  border-radius: 6px;
  margin-bottom: 16px;
  height: 50%;
}

.messages-block {
  margin-top: 8px;
}

.message-success {
  background-color: #d9ecff;
  padding: 8px;
  border-radius: 4px;
}
